body{
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--back-cor);
}

main h2{
    text-align: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-0);
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 800px){
    .container img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto;
    }
}